@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body section {
  min-height: 100vh;
}

body .inicio {
  background-image: url("../Imágenes/Imagen de la página de inicio.png");
  background-size: cover;
  background-position: center;
}

body .portafolio {
  background-color: white;
}

body .servicios {
  background-color: grey;
}

body .contacto {
  background-color: white;
}

:root {
  --colorPrincipal: #fc3c3c;
  --colorSecundario: #ccecf4;
}

@font-face {
  font-family: gothamBlack;
  src: url(../Fuentes/Gotham/Gotham-Black.otf);
}

@font-face {
  font-family: gothamLight;
  src: url(../Fuentes/Gotham/Gotham-Light.otf);
}

.barraDeNavegacion {
  width: 100vw;
  height: 15vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  position: fixed;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.barraDeNavegacion .logo {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.barraDeNavegacion .logo a {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barraDeNavegacion .logo a img {
  height: 60%;
}

.barraDeNavegacion .botonMenu {
  display: none;
}

.barraDeNavegacion .iconoMenu {
  position: relative;
  cursor: pointer;
  z-index: 1;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barraDeNavegacion .iconoMenu__linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: var(--colorPrincipal);
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.barraDeNavegacion .iconoMenu__linea::before, .barraDeNavegacion .iconoMenu__linea::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: var(--colorPrincipal);
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.barraDeNavegacion .iconoMenu__linea::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.barraDeNavegacion .iconoMenu__linea::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.barraDeNavegacion .enlacesDeNavegacion {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.barraDeNavegacion .enlacesDeNavegacion .enlaceDeNavegacion {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.barraDeNavegacion .enlacesDeNavegacion .enlaceDeNavegacion a {
  text-decoration: none;
  color: var(--colorPrincipal);
  font-family: gothamBlack;
  font-size: 2vh;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.barraDeNavegacion .enlacesDeNavegacion .enlaceDeNavegacion .seccionVisualizada {
  padding: 2vh;
  background-color: var(--colorPrincipal);
  color: white;
}

.desplazada {
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

@media screen and (max-aspect-ratio: 933 / 633) {
  .barraDeNavegacion .enlacesDeNavegacion {
    -ms-grid-column: 4;
        grid-column-start: 4;
  }
}

@media screen and (max-aspect-ratio: 733 / 633) {
  .barraDeNavegacion .enlacesDeNavegacion {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .barraDeNavegacion .logo {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 6;
  }
  .barraDeNavegacion .iconoMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 6;
        grid-column-start: 6;
    grid-column-end: 9;
  }
  .barraDeNavegacion .iconoMenu__linea {
    -webkit-animation: cierreMedio 0.8s backwards;
            animation: cierreMedio 0.8s backwards;
    animation-direction: reverse;
  }
  .barraDeNavegacion .iconoMenu__linea::before {
    -webkit-animation: cierreSuperior 0.8s backwards;
            animation: cierreSuperior 0.8s backwards;
    animation-direction: reverse;
  }
  .barraDeNavegacion .iconoMenu__linea::after {
    -webkit-animation: cierreInferior 0.8s backwards;
            animation: cierreInferior 0.8s backwards;
    animation-direction: reverse;
  }
  .barraDeNavegacion .enlacesDeNavegacion {
    position: absolute;
    height: 100vh;
    width: 100vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    background-color: var(--colorPrincipal);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-clip-path: circle(200px at top right);
            clip-path: circle(200px at top right);
    opacity: 0;
    -webkit-transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, -webkit-clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
    transition: opacity 0.8s 0.5s, clip-path 1s 0.5s, -webkit-clip-path 1s 0.5s;
  }
  .barraDeNavegacion .enlacesDeNavegacion .enlaceDeNavegacion a {
    color: var(--colorSecundario);
  }
  .barraDeNavegacion .enlacesDeNavegacion .enlaceDeNavegacion .seccionVisualizada {
    color: red;
    background-color: var(--colorSecundario);
  }
  .barraDeNavegacion .botonMenu:checked ~ .enlacesDeNavegacion {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .barraDeNavegacion .botonMenu:checked ~ .iconoMenu .iconoMenu__linea {
    background-color: white;
    -webkit-animation: aperturaMedia 0.8s forwards;
            animation: aperturaMedia 0.8s forwards;
  }
  .barraDeNavegacion .botonMenu:checked ~ .iconoMenu .iconoMenu__linea::before {
    background-color: white;
    -webkit-animation: aperturaSuperior 0.8s forwards;
            animation: aperturaSuperior 0.8s forwards;
  }
  .barraDeNavegacion .botonMenu:checked ~ .iconoMenu .iconoMenu__linea::after {
    background-color: white;
    -webkit-animation: aperturaInferior 0.8s forwards;
            animation: aperturaInferior 0.8s forwards;
  }
}

@-webkit-keyframes aperturaSuperior {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes aperturaSuperior {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes aperturaMedia {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes aperturaMedia {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes aperturaInferior {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes aperturaInferior {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes cierreSuperior {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes cierreSuperior {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes cierreMedio {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes cierreMedio {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes cierreInferior {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes cierreInferior {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio .contenedorGeneral {
  height: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20vh;
  padding-right: 15vh;
  padding-left: 15vh;
}

.inicio .contenedorGeneral .contenedorTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inicio .contenedorGeneral .contenedorTexto .titulo {
  color: white;
  font-family: gothamBlack;
  margin-bottom: 3vh;
  font-size: 4vh;
}

.inicio .contenedorGeneral .contenedorTexto .informacion {
  color: white;
  font-family: gothamLight;
  margin-bottom: 3vh;
  font-size: 2.5vh;
}

.inicio .contenedorGeneral .contenedorTexto .botonContacto {
  color: white;
  text-decoration: none;
  font-family: gothamBlack;
  padding: 3vh;
  background-color: var(--colorPrincipal);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  font-size: 2.5vh;
}

.inicio .contenedorGeneral .contenedorTexto .botonContacto:hover {
  color: var(--colorPrincipal);
  background-color: var(--colorSecundario);
}

.inicio .contenedorIlustraciones {
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inicio .contenedorIlustraciones .ilustracionDerecha {
  position: relative;
  width: 30%;
}

.inicio .contenedorIlustraciones .ilustracionIzquierda {
  position: relative;
  width: 30%;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .inicio .contenedorGeneral {
    padding-top: 0;
    padding-left: 20vw;
    padding-right: 20vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inicio .contenedorGeneral .contenedorTexto .titulo {
    font-size: 3.5vw;
    margin-bottom: 4vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .informacion {
    font-size: 2.3vw;
    margin-bottom: 4vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .botonContacto {
    font-size: 2.3vw;
    padding: 4vw;
  }
}

@media screen and (max-aspect-ratio: 2 / 3) {
  .inicio .contenedorGeneral .contenedorTexto .titulo {
    font-size: 5vw;
    margin-bottom: 5.5vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .informacion {
    font-size: 3vw;
    margin-bottom: 5.5vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .botonContacto {
    font-size: 3vw;
    padding: 5.5vw;
  }
  .inicio .contenedorIlustraciones .ilustracionDerecha {
    display: none;
  }
  .inicio .contenedorIlustraciones .ilustracionIzquierda {
    width: 70%;
  }
}

@media screen and (max-aspect-ratio: 1 / 2) {
  .inicio .contenedorGeneral .contenedorTexto .titulo {
    font-size: 6vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .informacion {
    font-size: 4vw;
  }
  .inicio .contenedorGeneral .contenedorTexto .botonContacto {
    font-size: 4vw;
  }
  .inicio .contenedorIlustraciones .ilustracionIzquierda {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */